@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

html,
body {
    position: relative;
    height: 100%;
}


#map-box {
    height: 20rem;
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #a7a7ad;
}

.item-properties {
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #a7a7ad;
    height: 8rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-properties {
    height: 10rem;
}

#weather-container {
    background-color: #e5edff;
    color: #002233;
}

#weather-text{
    font-weight: 300;
}

#weather-info {
    width: auto;
    height: 5rem;
    border: 2px solid #002233;
    border-radius: 10%;
}

img {
    width: 1.3rem;
}
